@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollhost {
    scrollbar-color: rgb(254 240 138) transparent;
  }
  .scrollhost::-webkit-scrollbar {
    width: clamp(0.4em, 0.5em, 0.7em);
  }

  .scrollhost::-webkit-scrollbar-thumb {
    background-color: rgb(254 240 138);
    outline: 3px solid black;
    border-radius: 10px;
  }

  .custom-shape-divider-top-1670661657 {
    position: absolute;
    top: 0;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
  }

  .custom-shape-divider-top-1670661657 svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 420px;
  }

  .custom-shape-divider-top-1670661657 .shape-fill {
    fill: #573205;
  }

  @media screen and (max-width: 680px) {
    .custom-shape-divider-top-1670661657 {
      position: absolute;
      top: 0;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
      z-index: -1;
    }

    .custom-shape-divider-top-1670661657 svg {
      position: relative;
      display: block;
      width: calc(160% + 1.3px);
      height: 220px;
    }

    .custom-shape-divider-top-1670661657 .shape-fill {
      fill: #573205;
    }
  }

  :root {
    --bg: #17181c;
    --fg: #c7cad1;
    --primary: #4311bf;
  }

  .hourglass,
  .hourglass:before,
  .hourglass:after {
    animation-duration: 15s;
    animation-iteration-count: infinite;
  }
  .hourglass {
    --polygonH: polygon(
      0% 0%,
      100% 0%,
      100% 5.55%,
      95% 5.55%,
      95% 28%,
      60% 46%,
      60% 54%,
      95% 72%,
      95% 94.45%,
      100% 94.45%,
      100% 100%,
      0% 100%,
      0% 94.45%,
      5% 94.45%,
      5% 72%,
      40% 54%,
      40% 46%,
      5% 28%,
      5% 5.55%,
      0% 5.55%
    );
    animation-name: flip;
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(
      var(--primary) 0.25em,
      #737a8c55 0.5em 4.25em,
      var(--primary) 2.25em
    );
    clip-path: var(--polygonH);
    -webkit-clip-path: var(--polygonH);
    overflow: hidden;
    position: relative;
    width: 2.5em;
    height: 4.5em;
    z-index: 0;
  }
  .hourglass:before,
  .hourglass:after {
    animation-timing-function: linear;
    content: '';
    display: block;
    position: absolute;
  }
  .hourglass:before {
    --polygonB1: polygon(
      0% 0%,
      100% 0%,
      100% 24%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      50% 47%,
      0% 24%
    );
    --polygonB2: polygon(
      0% 4%,
      100% 4%,
      100% 24%,
      55% 45%,
      55% 100%,
      55% 100%,
      55% 100%,
      45% 100%,
      45% 100%,
      45% 100%,
      45% 45%,
      0% 24%
    );
    --polygonB3: polygon(
      0% 24%,
      100% 24%,
      100% 24%,
      55% 45%,
      55% 80%,
      100% 100%,
      100% 100%,
      0% 100%,
      0% 100%,
      45% 80%,
      45% 45%,
      0% 24%
    );
    --polygonB4: polygon(
      45% 45%,
      55% 45%,
      55% 45%,
      55% 45%,
      55% 58%,
      100% 76%,
      100% 100%,
      0% 100%,
      0% 76%,
      45% 58%,
      45% 45%,
      45% 45%
    );
    --polygonB5: polygon(
      50% 53%,
      50% 53%,
      50% 53%,
      50% 53%,
      50% 53%,
      100% 76%,
      100% 100%,
      0% 100%,
      0% 76%,
      50% 53%,
      50% 53%,
      50% 53%
    );
    animation-name: fill;
    background-color: var(--fg);
    background-size: 100% 3.6em;
    clip-path: var(--polygonB1);
    -webkit-clip-path: var(--polygonB1);
    top: 0.25em;
    left: 0.25em;
    width: 2em;
    height: 4em;
    z-index: 1;
  }
  .hourglass:after {
    animation-name: glare;
    background: linear-gradient(
          90deg,
          #0000 0.5em,
          #0003 0.5em 1.5em,
          #0000 1.5em 3.5em,
          #fff3 3.5em 4.5em,
          #fff0 4.5em 6.5em,
          #0003 6.5em 7.5em,
          #0000 7.5em
        )
        0 0 / 100% 0.5em,
      linear-gradient(
          90deg,
          #0000 0.75em,
          #0003 0.75em 1.25em,
          #0000 1.25em 3.75em,
          #fff3 3.75em 4.25em,
          #fff0 4.25em 6.75em,
          #0003 6.75em 7.25em,
          #0000 7.25em
        )
        0 0.5em / 100% 8em,
      linear-gradient(
          90deg,
          #0000 0.5em,
          #0003 0.5em 1.5em,
          #0000 1.5em 3.5em,
          #fff3 3.5em 4.5em,
          #fff0 4.5em 6.5em,
          #0003 6.5em 7.5em,
          #0000 7.5em
        )
        0 100% / 100% 0.5em;
    background-repeat: repeat-x;
    top: 0;
    left: -3em;
    width: 200%;
    height: 100%;
    z-index: 2;
  }
  /* Animations */
  @keyframes fill {
    from {
      clip-path: var(--polygonB1);
      -webkit-clip-path: var(--polygonB1);
    }
    10% {
      clip-path: var(--polygonB2);
      -webkit-clip-path: var(--polygonB2);
    }
    45% {
      clip-path: var(--polygonB3);
      -webkit-clip-path: var(--polygonB3);
    }
    80% {
      clip-path: var(--polygonB4);
      -webkit-clip-path: var(--polygonB4);
    }
    85%,
    to {
      clip-path: var(--polygonB5);
      -webkit-clip-path: var(--polygonB5);
    }
  }
  @keyframes glare {
    from,
    90% {
      transform: translateX(0);
    }
    to {
      transform: translateX(3em);
    }
  }
  @keyframes flip {
    from,
    90% {
      transform: rotate(0);
    }
    to {
      transform: rotate(180deg);
    }
  }

  .nodrag {
    pointer-events: none;
  }

  @media (max-width: 500px) {
    .anim span {
      display: inline-block;
      height: 2.1em;
      width: 2.1em;
      margin: -18em 12em 15em 11em;
      border-radius: 0 70px;
      background-color: #b56c18;
      animation: mob-anim 28s infinite linear;
      transform: translateY(-900px);
    }

    .anim span:nth-child(7n) {
      animation-delay: 8s;
      margin-left: 2em;
    }
    .anim span:nth-child(7n-1) {
      animation-delay: 0s;
      padding-top: 1em;
      margin-left: 17em;
    }

    .anim span:nth-child(7n-3) {
      animation-delay: 12s;
      background-color: #3d450c;
      padding: 1em;
      margin-left: 12em;
    }
    .anim span:nth-child(7n-4) {
      animation-delay: 5s;
      background-color: #8a7e11;
    }
    .anim span:nth-child(7n-5) {
      animation-delay: 17s;
      background-color: #a88e18;
      padding-bottom: 1em;
      margin-left: 10em;
    }
    .anim span:nth-child(7n-6) {
      animation-delay: 22s;
      background-color: #99390c;
      padding: 1.5em;
    }
  }

  @media (min-width: 1500px) {
    .anim span {
      display: inline-block;
      height: 3em;
      width: 3em;
      margin: -26em 12.4em 28.9em 12.2em;
      border-radius: 0 70px;
      background-color: #b56c18;
      animation: max-anim 24s infinite linear;
    }
    .anim span:nth-child(7n) {
      animation-delay: 8s;
    }
    .anim span:nth-child(7n-1) {
      animation-delay: 0s;
      padding-top: 2em;
    }

    .anim span:nth-child(7n-3) {
      animation-delay: 3s;
      background-color: #3d450c;
      padding: 2em;
      margin-left: 10em;
    }
    .anim span:nth-child(7n-4) {
      animation-delay: 10s;
      background-color: #8a7e11;
      margin-right: 5em;
    }
    .anim span:nth-child(7n-5) {
      animation-delay: 14s;
      background-color: #a88e18;
      padding-bottom: 4em;
    }
    .anim span:nth-child(7n-6) {
      animation-delay: 18s;
      background-color: #99390c;
      padding: 1.5em;
    }
  }

  @media (min-width: 500px) and (max-width: 1500px) {
    .anim span {
      display: inline-block;
      height: 3em;
      width: 3em;
      margin: -16em 16.4em 11.9em 12.2em;
      border-radius: 0 70px;
      background-color: #b56c18;
      animation: anim 25s infinite linear;
    }

    .anim span:nth-child(7n) {
      animation-delay: 8s;
      margin-left: 4em;
    }
    .anim span:nth-child(7n-1) {
      animation-delay: 0s;
      background-color: #bf610f;
      padding-top: 1em;
      margin-left: 7em;
    }

    .anim span:nth-child(7n-3) {
      animation-delay: 12s;
      background-color: #3d450c;
      padding: 1em;
      margin-left: 5em;
    }
    .anim span:nth-child(7n-4) {
      animation-delay: 5s;
      background-color: #8a7e11;
    }
    .anim span:nth-child(7n-5) {
      animation-delay: 17s;
      background-color: #a88e18;
      padding-bottom: 3em;
      margin-left: 10em;
    }
    .anim span:nth-child(7n-6) {
      animation-delay: 22s;
      background-color: #99390c;
      padding: 1.5em;
      margin-left: 10em;
    }
  }

  @keyframes anim {
    0% {
      width: 3em;
      height: 3em;
      opacity: 1;
      transform: translate(0px, 0vh) rotateZ(0deg);
    }
    75% {
      width: 3em;
      height: 3em;
      opacity: 1;
      transform: translate(30px, 100vh) rotateZ(205deg);
    }
    100% {
      width: 3em;
      height: 3em;
      opacity: 1;
      transform: translate(60px, 130vh) rotateZ(270deg);
    }
  }

  @keyframes max-anim {
    0% {
      width: 3em;
      height: 3em;
      opacity: 1;
      transform: translate(0px, 0vh) rotateZ(0deg);
    }
    75% {
      width: 3em;
      height: 3em;
      opacity: 1;
      transform: translate(30px, 115vh) rotateZ(205deg);
    }
    100% {
      width: 3em;
      height: 3em;
      opacity: 1;
      transform: translate(60px, 145vh) rotateZ(270deg);
    }
  }

  @keyframes mob-anim {
    0% {
      width: 2.1em;
      height: 2.1em;
      opacity: 1;
      transform: translate(0px, -100px) rotateZ(0deg);
    }
    75% {
      width: 2.1em;
      height: 2.1em;
      opacity: 1;
      transform: translate(15px, 850px) rotateZ(200deg);
    }
    100% {
      width: 2.1em;
      height: 2.1em;
      opacity: 0;
      transform: translate(30px, 1050px) rotateZ(270deg);
    }
  }

  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 4px solid white;
    height: 55px;
    width: 15px;
    border-radius: 25%;
    background: white;
    cursor: pointer;
  }

  /* All the same stuff for Firefox */
  input[type='range']::-moz-range-thumb {
    border: 4px solid white;
    height: 55px;
    width: 15px;
    border-radius: 25%;
    background: white;
    cursor: pointer;
  }

  /* All the same stuff for IE */
  input[type='range']::-ms-thumb {
    border: 4px solid white;
    height: 55px;
    width: 15px;
    border-radius: 25%;
    background: white;
    cursor: pointer;
  }

  input[type='range']::-webkit-slider-thumb:active {
    /* border: 8px solid black; */
    background: black;
  }
  input[type='range']::-moz-range-thumb:active {
    /* border: 8px solid black */
    background: black;
  }
  input[type='range']::-ms-thumb:active {
    /* border: 8px solid black; */
    background: black;
  }
}

/*
@-webkit-keyframes animateCloud {
  0% {
      margin-left: -820px;
  }
  100% {
      margin-left: 100%;
  }
}

@-moz-keyframes animateCloud {
  0% {
      margin-left: -820px;
  }
  100% {
      margin-left: 100%;
  }
}

@keyframes animateCloud {
  0% {
      margin-left: -820px;
  }
  100% {
      margin-left: 100%;
  }
}

.x1 {
-webkit-animation: animateCloud 73s linear infinite;
-moz-animation: animateCloud 73s linear infinite;
animation: animateCloud 73s linear infinite;

-webkit-transform: scale(0.65);
-moz-transform: scale(0.65);
transform: scale(0.65);
}

.x2 {
-webkit-animation: animateCloud 85s linear infinite;
-moz-animation: animateCloud 85s linear infinite;
animation: animateCloud 85s linear infinite;

-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
transform: scale(0.8);
}

.x3 {
-webkit-animation: animateCloud 60s linear infinite;
-moz-animation: animateCloud 60s linear infinite;
animation: animateCloud 60s linear infinite;

-webkit-transform: scale(0.5);
-moz-transform: scale(0.5);
transform: scale(0.5);
}

.x4 {
-webkit-animation: animateCloud 36s linear infinite;
-moz-animation: animateCloud 36s linear infinite;
animation: animateCloud 36s linear infinite;

-webkit-transform: scale(0.4);
-moz-transform: scale(0.4);
transform: scale(0.4);
}

.x5 {
-webkit-animation: animateCloud 42s linear infinite;
-moz-animation: animateCloud 42s linear infinite;
animation: animateCloud 42s linear infinite;

-webkit-transform: scale(0.55);
-moz-transform: scale(0.55);
transform: scale(0.55);
}
.x6 {
  -webkit-animation: animateCloud 65s linear infinite;
  -moz-animation: animateCloud 65s linear infinite;
  animation: animateCloud 65s linear infinite;
  
  -webkit-transform: scale(0.72);
  -moz-transform: scale(0.72);
  transform: scale(0.72);
  }

.sky {
  background: linear-gradient(180deg, rgba(5,38,142,1) 0%, rgba(82,150,255,1) 57%, rgba(246,218,133,1) 100%);
}

.cloud {
  background: linear-gradient(352deg, #8d82a8 15%, #e8dea7 61%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f4f5', endColorstr='#f1f1f1',GradientType=0 );
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

height: 120px;
position: relative;
width: 350px;
}

.cloud:after, .cloud:before {
  background: #e8dea7;
content: '';
position: absolute;
z-indeX: -1;
}

.cloud:after {
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;

height: 100px;
left: 50px;
top: -40px;
width: 100px;
}

.cloud:before {
-webkit-border-radius: 200px;
-moz-border-radius: 200px;
border-radius: 200px;

width: 180px;
height: 180px;
right: 50px;
top: -90px;
  }
  */
